<template>
    <div class="content">
        <p class="funding">Funding Account</p>
        <p class="fundadd">Fund Addition Request</p>
        <p class="grant">Grant Admin Access</p>
        <div class="control">
            <label class="radio">
                <input type="radio" name="answer">
                EFT
            </label>
            <label class="radio">
                <input type="radio" name="answer">
                CC
            </label>
        </div>
        <p class="trans" style="margin-bottom:4px">Transaction No</p>
        <input class="input" type="text" placeholder="Enter Text...">
        <p class="trans" style="margin-bottom:4px">Transfer Date</p>
        <input class="input" type="text">
        <p class="trans" style="margin-bottom:4px">Amount</p>
        <input class="input" type="text">
        <div style="margin-top:20px">
            <span class="trans">Comment</span>
            <span class="trans"  style="margin-left:244px">0/140</span>
        </div>
        <input class="input" type="text" style="margin-top:7px;height: 90px;">
        <p class="notee">
            NOTE: Fund Transfer from Your Authorised Bank Account will be instantly proved
            If not it will take 2-4 days.
        </p>
        <div>
            <button class="button" style="height: 31px;background-color: #433CBD">
                <span class="stss" style="color:white">create survey</span>
                </button>
            <button class="button" style="margin-left:20px;height: 31px;">
                <span class="stss">Cancel</span>
            </button>
        </div>
    </div>
</template>

<script>
export default {
    name : 'AddFundsContent',
}
</script>

<style lang="scss" scoped>
.stss {    
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}
.notee {
    margin-top:10px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
}
.trans {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    margin-top: 18px;
}
.radio + .radio {
    margin-left: 15px;
}
.grant {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    margin-top: 39px;
}
.fundadd {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: black;
}
.content {
    margin-left: 33px;
    width: 345px;
}
.funding {
    margin-bottom: 0px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color:#4C44D7;
    margin-top: 32px;
}
</style>