<template>
    <div class="box">
        <p class="txt">Add funds to the Acme Account</p>
        <div class="padds" v-for="(item, i) in funddetails" :key="i">
            <div class="blcks">
                <p class="lefttext">{{item.lt}}</p>
                <p class="righttext">{{item.rt}}</p>
            </div>
        </div>
        <div class="padds">
            <p class="imp">Let us Know the let us know the details
                of your Cheque/transferby raising a fund addition request 
            </p>
        </div>
        <hr class="dropdown-divider">
        <div class="padds" style="margin-top:24px;display:inline-block;">
            <router-link :to="{name: 'AddFundsContent'}" exact>
                <b-button type="is-primary" id="atbottombutton">
                        <p class="btuntext">Raise a Fund addition Request</p>
                </b-button>
            </router-link>
            <b-button id="cancelsstyle">
                <p class="cancels">Cancel</p>
            </b-button>
        </div> 
    </div>
</template>

<script>
export default {
    name:'AddFunds',
    data() {
        return {
            funddetails : [
                {
                    lt:"A/C Name",
                    rt:"2342",
                },
                {
                    lt:"A/C No",
                    rt:"Monady ,01 an 2020",
                },
                {
                    lt:"Bank Name",
                    rt:"100",
                },
                {
                    lt:"Branch",
                    rt:"$2000",
                },
                {
                    lt:"IFSC",
                    rt:"$3000",
                }
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
#cancelsstyle {
    margin-left: 10px;
    //background-color: white;
}
.cancels {
    color: #4C44D7;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}
#atbottombutton {
    background-color: #4C44D7;
}
.btuntext {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}
.imp {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    padding-right: 16px;
}
.lefttext {
    width: 160px;
    height: 20px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
.righttext {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 14px;
    color: #000000;
}
.blcks {
    display: flex;
}
.padds {
    margin-left: 24px;
}
.txt {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding-left: 24px;
    padding-bottom: 16px;
    background-color: #FEF7E5;
    padding-top: 16px;
    margin-bottom: 24px;
}
.box[data-v-26a82c0f] {
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-left: 455px;
    width: 456px;
    padding-left: 0px;
    padding-right: 0px;
    height: 396px;
    background-color: white;
}
</style>