<template>
    <div class="content">
        <div class="box" >
            <p class="funding">Funding Account</p>
        </div>
        <p class="accounts">Acme Funding Account</p>
        <p class="balance">Current Balance: $2,2322</p>
        <div class="btons">
            <b-button type="is-primary" id="btn1" @click="showAdFunds">
                <p class="bttntxt">Add funds</p>
            </b-button>
            <!-- Modal start -->
            <div class="modal" :class="{'is-active': showModal}">
                <div class="modal-background"></div>
                  <div class="modal-content">
                    <!-- Any other Bulma elements you want -->
                    <AddFunds/>
                  </div>
                <button class="modal-close is-large" aria-label="close" @click="closeAdFunds"></button>
              </div>
            <!-- Modal end -->

            <b-button type="is-primary" id="btn2">
                <p class="bttntxt">Reconsilation</p>
            </b-button>
            <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4" id ="btn3">
                        <span class="icon is-small">
                            <i class="fas fa-ellipsis-h"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                    <div class="dropdown-content">
                        <router-link :to="{name: 'TransactionPage'}" exact>
                            <div class="dropdown-item" >
                                <p>Transaction History</p>
                            </div>
                        </router-link>
                        
                        <hr class="dropdown-divider">
                        <div class="dropdown-item">
                            <p>Delete Account</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AddFunds from './AddFunds';
export default {
    name:'Content',
    components:{
        AddFunds,
    },
    data(){
        return {
            showModal: false,
        }
    },
    methods : {
        showAdFunds(){
            this.showModal=true;
        },
        closeAdFunds(){
            this.showModal=false;
        }
    }
}
</script>

<style lang="scss" scoped>
#btn3 {
    margin-left: 8px;
    height: 30px;
}
#btn2 {
    margin-left: 8px;
    width: 125px;
    height: 30px;
}
#btn1 {
    width: 85px;
    height: 30px;
}
.bttnstyle {
    margin-left:8px;
    width: 59px;
}
.bttntxt {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}
.btons {
    display: inline-block;
    margin-left: 32px;
}
.accounts {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: black;
    margin-left: 32px;
    padding: 0px;
}
.accounts[data-v-26a82c0f] {
    margin-bottom: 6px;
}
.balance {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-left: 32px;
}
.box{
    margin-left: 32px;
    background-color:#E2EAFF;
    margin-top: 33px;
    width: 1046px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 24px;
}
.funding {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    
}
</style>