<template>
    <div class="secondbody">
        <Content/>
    </div>
</template>

<script>
//import SideBar from './SideBar';
import Content from './Content';
//import TransactionContent from './TransactionContent';
export default {
    name: 'Landingpage',
    components: {
        Content,
    },
    data(){
        return {
            check:true,
        }
    },
}
</script>

<style scoped>
.secondbody {
    height: 100%;
    display: flex;
}
</style>