<template>
    <aside class="menu" style="background-color: #2A295C;width:246px;">
        <img src="./sodexo.png">
        <p class="products">Products</p>
        <div class="boxxx" v-for="item in sidebarConfig" :key="item.id">
            <b-icon :icon="item.icon" class="iconsstyle">
            </b-icon>
            <span class="icontexts">{{item.name}}</span>
            <div></div>
        </div>

        <div class="sidebarfooter">
            <img src="./Oval.png" class="middle">
            <span class="usha">Usha Oliver</span>
        </div>
    </aside>
</template>

<script>
export default {
    name: 'SideBar',
    data(){
        return{
            sidebarConfig:[
                {
                    id:1,
                    name:"Benefit",
                    icon:"clipboard-text"
                },
                {
                    id:2,
                    name:"Recognition",
                    icon:"star"
                },
                {
                    id:3,
                    name:"Engagement hub",
                    icon:"chart-line-variant"
                },
                {
                    id:4,
                    name:"Insights",
                    icon:"chart-bar"
                },
                {
                    id:5,
                    name:"People",
                    icon:"account-multiple"
                },
                {
                    id:6,
                    name:"Voucher Shop",
                    icon:"tag"
                },
                {
                    id:7,
                    name:"Report center",
                    icon:"note"
                },
                {
                    id:8,
                    name:"Audit Logs",
                    icon:"playlist-check"
                },
                {
                    id:9,
                    name:"Settings",
                    icon:"flower"
                },
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
.middle {
    vertical-align: middle;
}
.usha {
    color: white;
    text-align: center;
    padding: 8px;
}
.menu {
    position: relative;
    .sidebarfooter {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 16px 16px;
    }
}
.boxxx {
    padding: 16px 0px;
    &:hover{
        background-color: #222155;
    }
    &.active{
        background-color: #222155;
    }
}
.iconsstyle {
    padding-left: 27px;
    color: white;
    vertical-align: middle;
    padding-right: 15px;
}
.icontexts {
    color: white;
    vertical-align: middle;
    font-size: 14px;
    margin-left: 14px;
}
.products[data-v-eed11d5c] {
    padding-left: 23px;
    margin-top: 0px;
}
.lst {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    color: white;
}
.products {
    color:white;
    font-family: IBM Plex Sans;
    font-style: normal;
}
.bgg {
    background-color: #2A295C;
}
</style>
