<template>
    <div class="content">
        <p class="headtext">Acme Funding Account</p>
        <p class="transhist">Transaction History</p>
        <hr class="dropdown-divider">
        <b-button size="is-small" icon-left="plus-circle-outline" id="filter">
            Filter
        </b-button>
        <table class="table">
            <thead style="background-color: #E5E5E5">
                <tr>
                    <th id="th1"><p class="headds">Requested Date</p></th>
                    <th id="th2"><p class="headds">References</p></th>
                    <th id="th3"><p class="headds">Mode</p></th>
                    <th id="th4"><p class="headds">Amount</p></th>
                    <th><p class="headds">Action</p></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in Transdata" :key="item" style="height:60px">
                    <td>
                        <p class="txted">
                            {{item.Requested}}
                        </p>
                    </td>
                    <td>
                        <p class="txted">
                            {{item.References}}
                        </p>
                    </td>
                    <td>
                        <p class="txted">
                            {{item.Mode}}
                        </p>
                    </td>
                    <td>
                        <p class="txted">
                            {{item.Amount}}
                        </p>
                    </td>
                    <td>
                        <button class="button is-rounded is-small" id="btnstl">
                            <b-icon icon="checkbox-blank-circle" style="color:green"></b-icon>
                            <span class="btntxts">{{item.Status}}</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="paging">
            <button class="button" style="margin-right:10px;background-color:#4C44D7;">
                <span style="color:white">1</span>
            </button>
            <span> ... </span>
            <button class="button" style="margin-left:10px">
                <span>9</span>
            </button>
            <button class="button" style="margin-left:10px">
                <span>10</span>
            </button>
            <button class="button" style="margin-left:10px">
                <span>11</span>
            </button>
            <span> ... </span>
            <button class="button" style="margin-right:10px">
                <span>20</span>
            </button>
        </div>
    </div>
</template>

<script>
export default {
    name: 'TransactionContent',
    data() {
        return {
            Transdata:[
                {
                    Requested:"03 Dec 2019",
                    References:"Commute",
                    Mode:"EFT",
                    Amount:"$25,000.00",
                    Status:"Approved"
                },
                {
                    Requested:"12 Jun 2019",
                    References:"Commute",
                    Mode:"EFT",
                    Amount:"$37,000.00",
                    Status:"Approved"
                },
                {
                    Requested:"13 Mar 2019",
                    References:"Commute",
                    Mode:"EFT",
                    Amount:"$38,000.00",
                    Status:"Approved"
                },
                {
                    Requested:"13 Jan 2019",
                    References:"Commute",
                    Mode:"EFT",
                    Amount:"$40,000.00",
                    Status:"Approved"
                },
                {
                    Requested:"1 Jan 2019",
                    References:"Commute",
                    Mode:"EFT",
                    Amount:"$50,000.00",
                    Status:"Approved"
                }
            ],
        }
    }
}
</script>

<style lang="scss" scoped>
.paging {
    display: flex;
}
#btnstl {
    height: 24px;
    margin-top: 10px;
}
.btntxts {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.txted {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-top: 18px;
}
#th1 {
    width: 127px;
    height: 38px;
}
#th2 {
    width: 90px;
}
#th3 {
    width: 60px;
}
#th4 {
    width: 75px;
}
.headds {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: black;
}
#filter {
    margin-top: 41px;
    margin-bottom: 16px;
}
.dropdown-divider {
    width: 1036px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.transhist {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: black;
}
.content {
    margin-left: 32px;
}
.headtext {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #4C44D7;
    margin-top: 32px;
    margin-bottom: 0px;
}
</style>