<template>
  <div id="app">
    <SideBar/>
    <router-view></router-view>
  </div>
</template>

<script>
import SideBar from './components/Screen1/SideBar';
export default {
  name: 'App',
  components: {
    SideBar
  }
}
</script>

<style>
body ,html{
  margin: 0px;
  height: 100%;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100%;
    display: flex;
}

</style>
